.selectWrapper {
  position: relative;
  width: 240px;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  width: 240px;
  font-weight: 400;
  padding: 0 14px 0 14px;
  height: 55.58px;
  border: 1px solid rgba(57, 57, 57, 1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
}

.selectOptions {
  position: absolute; /* КЛЮЧЕВОЕ */
  top: calc(100% + 4px);
  left: 0;
  width: 100%;

  margin: 0;
  list-style: none;
  padding: 0 14px 0 14px;

  display: flex;
  flex-direction: column;

  border: 1px solid rgba(57, 57, 57, 1);
  border-radius: 6px;
  background: #fff;
  z-index: 10;
}

.selectOption {
  list-style: none;
  margin: 0;
  padding: 10px 0 10px 0;
  font-size: 16px;
  font-weight: 400;
}
