.select {
  position: relative;
}

/* === Модификаторы размера === */

.select--large {
  width: 240px;
}

.select--small {
  width: 95px;
}

/* === Элементы === */

.select__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid rgba(57, 57, 57, 1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
}

.select__list {
  position: absolute;
  width: 100%;
  list-style: none;
  border: 1px solid rgba(57, 57, 57, 1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
  z-index: 10;
}

.select__option {
  margin: 0;
  cursor: pointer;
}

/* === Размер large === */

.select--large .select__button {
  font-size: 16px;
  padding: 0 14px;
  height: 56px;
}

.select--large .select__list {
  margin-top: 8px;
  padding: 0 14px;
}

.select--large .select__option {
  padding: 10px 0;
  font-size: 16px;
}

/* === Размер small === */

.select--small .select__button {
  font-size: 14px;
  padding: 0 5px;
  height: 21px;
}

.select--small .select__list {
  margin-top: 5px;
  padding: 0 5px;
}

.select--small .select__option {
  padding: 6px 0;
  font-size: 14px;
}
