.selectWrapper {
  position: relative;
}

.selectWrapperLarge {
  width: 240px;
}

.selectWrapperSmall {
  width: 95px;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(57, 57, 57, 1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
}

.selectLarge {
  font-size: 16px;
  width: 240px;
  padding: 0 14px;
  height: 56px;
}

.selectSmall {
  font-size: 14px;
  width: 95px;
  padding: 0 5px;
  height: 21px;
}

.selectOptions {
  position: absolute;
  width: 100%;
  list-style: none;
  border: 1px solid rgba(57, 57, 57, 1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
  z-index: 10;
}

.selectOptionsLarge {
  margin-top: 8px;
  padding: 0 14px;
}

.selectOptionsSmall {
  margin-top: 5px;
  padding: 0 5px;
}

.selectOption {
  margin: 0;
  cursor: pointer;
}

.selectOptionLarge {
  padding: 10px 0;
  font-size: 16px;
}

.selectOptionSmall {
  padding: 6px 0;
  font-size: 14px;
}
