.input {
  position: relative;
  display: flex;
  align-items: center;

  &__field {
    margin: 0;
    padding: 0;
    transition: border-color 0.2s ease;
    outline: none;
  }

  &__icon {
    position: absolute;
    left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    color: var(--color-text-secondary);
  }

  &__clear {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border: none;
    background: none;
    opacity: 0.5;
    transform: translateY(-50%);
    transition: opacity 0.2s ease;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }

  &--bordered &__field {
    padding: 0 40px 0 48px;
    width: 240px;
    height: 56px;
    border: 1px solid var(--color-border-secondary);
    border-radius: 8px;
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-text);

    &:focus {
      border-color: var(--color-text-primary);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &--underlined &__field {
    padding: 0 20px 2px 0;
    width: 178px;
    border: none;
    border-bottom: 1px solid var(--color-text);
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    color: var(--color-text-primary);

    &:focus {
      border-bottom-color: var(--color-text-primary);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &--underlined.input--small {
    align-items: center;

    .input__field {
      padding: 0 20px 1px 0;
      width: 120px;
      font-size: 14px;
      line-height: normal;
    }
  }
}
