.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 37.92px;
    height: 38px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    background: var(--color-background);
    cursor: pointer;
  }
}
