.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }

  &__button {
    width: 38px;
    height: 38px;
  }
}
