:root {
  --color-text-primary: rgb(0, 0, 0, 0.87);
  --color-text-secondary: rgb(0, 0, 0, 0.5);
  --color-text: rgb(0, 0, 0, 1);
  --color-background: rgb(255, 255, 255, 1);
  --color-border: rgb(57, 57, 57, 1);
  --color-border-secondary: rgb(0, 0, 0, 0.5);
  --color-border-card: rgb(240, 238, 238, 1);
  --color-status-alive: rgb(18, 184, 0, 1);
  --color-status-dead: rgb(223, 0, 0, 1);
  --color-status-unknown: rgb(255, 153, 0, 1);
  --shadow-primary: 0 2px 8px rgb(0, 0, 0, 0.1);
  --shadow-card: 2px 2px 2px rgb(0, 0, 0, 0.25);
}
