:root {
  /* Текст */
  --color-text-primary: rgba(0, 0, 0, 0.87);
  --color-text-secondary: rgba(0, 0, 0, 0.5);
  --color-text: rgba(0, 0, 0, 1);

  /* Фон */
  --color-background: rgba(255, 255, 255, 1);

  /* Границы */
  --color-border: rgba(57, 57, 57, 1);
  --color-border-secondary: rgba(0, 0, 0, 0.5);

  /* Границы карточки персонажа */
  --color-border-card: rgba(240, 238, 238, 1);

  /* Статусы */
  --color-status-alive: rgba(18, 184, 0, 1);
  --color-status-dead: rgba(223, 0, 0, 1);
  --color-status-unknown: rgba(255, 153, 0, 1);

  /* Тени */
  --shadow-primary: 0 2px 8px rgba(0, 0, 0, 0.1);
}
