.characters-card {
  display: flex;
  align-items: center; /* центрирование по вертикали */
  justify-content: center; /* центрирование по горизонтали */
  flex-direction: column;
  margin-top: 26px;
  width: 100%;
}

.characters-card__button {
  align-self: flex-start;
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.characters-card__loading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 154px;
}
