.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 26px;
  width: 100%;
}

.button {
  align-self: flex-start;
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  align-items: center;
  gap: 8px;
}

.buttonText {
  font-size: 18px;
  font-weight: bold;
}

.loading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 200px);
}
