.characters-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 26px;
  width: 100%;
}

.characters-card__button {
  align-self: flex-start;
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.characters-card__loading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 200px);
}
