.statusIndicator {
  display: inline-block;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  &--alive {
    background-color: var(--color-status-alive);
  }

  &--dead {
    background-color: var(--color-status-dead);
  }

  &--unknown {
    background-color: var(--color-status-unknown);
  }
}
