body {
  margin: 0;
  padding: 0;
}

.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.main-page__header {
  flex-shrink: 0;
  height: 60px;
  background-color: aquamarine;
}

.main-page__content {
  flex-grow: 1;
}

.main-page__footer {
  flex-shrink: 0;
  height: 60px;
  background-color: aquamarine;
  text-align: center;
}
