*,
*::before,
*::after {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-page__header {
  flex-shrink: 0;
  height: 60px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.main-page__content {
  flex-grow: 1;
  width: 100%;
}

.main-page__footer {
  flex-shrink: 0;
  height: 60px;
  width: 100%;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
}

.main-page__container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
